body {
  font-family: Georgia;
  color: #333333;
  width: 560px;
  background: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 9px;
  box-shadow: 0 5px 5px #333333;
}

img {
  width: 80%;
}

pre {
  border: solid 1px;
}
